@model PGR.LEX.Models.TMoneda

@{
    ViewBag.Title = "Detalle moneda";
}

<h2>Detalle moneda</h2>

<div>

    <hr />
    <div class="form-group">

        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })

        </div>


   

    </div>


    </div>
    <p>

        @Html.ActionLink(" REGRESAR", "Index", "Moneda", new object { }, new { @class = "btn boton fa fa-arrow-left" })
        @Html.ActionLink(" MODIFICAR", "Edit", new { id = Model.idMoneda }, new { @class = "btn boton fa fa-pencil" })
    </p>
