
@{
    ViewBag.Title = "Catálogos";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Catalogos</h4>

        <ul class="list-group">
            <li class="list-group-item">@Html.ActionLink("Moneda", "Index", "Moneda")</li>
            <li class="list-group-item">@Html.ActionLink("Tipo", "Index", "Tipo")</li>
            <li class="list-group-item">@Html.ActionLink("Tipos de Audiencia", "Index", "TipoAudiencia")</li>
        </ul>

    </div>
</div>


