

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Estilos personalizados*/


.barraMenu {
    background: #23374F;
    color:#ffffff;
}

.boton {
    background: #23374f;
    color:#ffffff;
}

    .boton:hover {
        background: #68a5e8;
        color: #ffffff;
    }

.encabezadoTabla {
    background: #23374F;
    color: #ffffff;
    
}

